
body{
 background-color: rgb(199, 223, 239);
}
h1{
    color:rgb(12, 3, 192);
}
h2{
    color:blue;
}
h3{
    color:blue;
}
hr{
 border-style: none;
 border-top-style: dotted;
 border-color: rgb(112, 112, 248);
 border-width: 5px;
 width: 5%
}
img:hover {
    background-color: gold;
}
/*********************** CLASSES *******************/
.bacon {
   background-color:green;
}
.broccoli {
    background-color:red;
 }
 .circular {
    border-radius: 100%;
 }
 /************************* ID *********************/
#heading{
    color: rgb(171, 5, 171);
}